body {
    background-image: url("https://i.pinimg.com/originals/86/84/78/8684786ae27fbccae36e9bbc264fb6ec.jpg");
    
}
h1{
    font-family: Impact, Charcoal, sans-serif
}
li{
    font-family: Verdana, Geneva, sans-serif
}